:root {
    --main-bg:#ececf6;
    --white-color:#ffffff;
    --text-color:#656d87;
    --text-color-deep: #455170;
    --text-color-lite:#abacb3;
    --btn-color-blue:#0cb7af;
    --btn-hover-color: #1aa7a0;
    --btn-color-golden:#ed9d00;
    --btn-hovor-golden:#e29c0f;
    --btn-color-ash: #a2a3b4;
    --btn-hovor-ash: #9698a5;
    --box-bg:#ced0df;
    --weight-400: 400;
    --weight-500: 500;
    --weight-600: 600;
    --box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    --box-shadow-2: 0 0 6px #ed9d00;
  }
  
  ul, li, h1, h2, h3, h4, h5, h6, p, span, img, div, section, body, input, select, i {
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
  }
  
  section, body, html {
    width: 100%;
    height: 100%;
    font-family: "Poppins", sans-serif;
  }
  
  html {
    background-color: var(--main-bg);
  }
  
  button {
    border: none;
    padding: 0;
    margin: 0;
    transition: all ease 0.3s;
  }
  button:hover {
    cursor: pointer;
  }
  
  section .product-bg .product-main {
    border-radius: 6px;
    background-color: var(--white-color);
  }
  section .product-bg .product-main .top {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    border-bottom: 2px solid var(--main-bg);
  }
  section .product-bg .product-main .top h3 {
    font-size: 1.5rem;
    font-weight: var(--weight-500);
  }
  section .product-bg .product-main .middle {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid var(--main-bg);
  }
  @media screen and (max-width: 850px) {
    section .product-bg .product-main .middle {
      flex-direction: column;
    }
  }
  section .product-bg .product-main .middle .middle-border {
    padding: 0 20px;
    flex: 1;
    position: relative;
  }
  section .product-bg .product-main .middle .middle-border:not(:last-child)::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: var(--main-bg);
    z-index: 1;
  }
  section .product-bg .product-main .middle .middle-left {
    padding-top: 0.75rem;
  }
  section .product-bg .product-main .middle .middle-left .main-ul {
    width: 100%;
  }
  section .product-bg .product-main .middle .middle-left .main-ul li.main-li {
    width: 100%;
  }
  section .product-bg .product-main .middle .middle-left .main-ul li.main-li:not(:last-child) {
    margin-bottom: 1.25rem;
  }
  @media screen and (max-width: 850px) {
    section .product-bg .product-main .middle .middle-left .main-ul li.main-li {
      margin-bottom: 1.25rem;
    }
  }
  section .product-bg .product-main .middle .middle-left .main-ul li.main-li h3 {
    width: 100%;
    font-weight: var(--weight-400);
    font-size: 1.275rem;
    color: var(--text-color);
    margin-bottom: 0.35rem;
  }
  section .product-bg .product-main .middle .middle-left .main-ul li.main-li .select-wrapper {
    position: relative;
  }
  section .product-bg .product-main .middle .middle-left .main-ul li.main-li .select-wrapper select.select-arrow {
    cursor: pointer;
    width: 100%;
    font-size: 1.2rem;
    color: var(--text-color-lite);
    padding: 0.8rem;
    box-shadow: var(--box-shadow);
    border-radius: 6px;
    border: 0.5px solid var(--box-bg);
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }
  section .product-bg .product-main .middle .middle-left .main-ul li.main-li .select-wrapper i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--text-color-lite);
    pointer-events: none;
  }
  section .product-bg .product-main .middle .middle-left .main-ul li.main-li ul {
    display: flex;
    justify-content: center;
  }
  @media screen and (max-width: 850px) {
    section .product-bg .product-main .middle .middle-left .main-ul li.main-li ul {
      flex-direction: column;
    }
  }
  section .product-bg .product-main .middle .middle-left .main-ul li.main-li ul li {
    width: 100%;
  }
  @media screen and (max-width: 850px) {
    section .product-bg .product-main .middle .middle-left .main-ul li.main-li ul li:first-child {
      margin-bottom: 1.25rem;
    }
  }
  section .product-bg .product-main .middle .middle-left .main-ul li.main-li ul li:first-child {
    margin-right: 2.5rem;
  }
  section .product-bg .product-main .middle .middle-left .main-ul li.main-li ul li h3 {
    margin-bottom: 6px;
  }
  section .product-bg .product-main .middle .middle-left .main-ul li.main-li ul li input {
    width: 100%;
    font-size: 1.2rem;
    color: var(--text-color-lite);
    padding: 0.8rem;
    box-shadow: var(--box-shadow);
    border-radius: 6px;
    border: 0.5px solid var(--box-bg);
  }
  section .product-bg .product-main .middle .middle-left .main-ul li.main-li button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75rem;
    background-color: var(--btn-color-blue);
    border-radius: 6px;
    box-shadow: var(--box-shadow);
    border: 1px solid var(--btn-hover-color);
    transition: all ease 0.3s;
  }
  section .product-bg .product-main .middle .middle-left .main-ul li.main-li button:hover {
    background-color: var(--btn-hover-color);
  }
  section .product-bg .product-main .middle .middle-left .main-ul li.main-li button i {
    margin-right: 10px;
    color: var(--white-color);
    font-size: 1.275rem;
  }
  section .product-bg .product-main .middle .middle-left .main-ul li.main-li button h2 {
    color: var(--white-color);
    font-weight: var(--weight-400);
    font-size: 1.275rem;
  }
  section .product-bg .product-main .middle .middle-right {
    display: flex;
    align-items: flex-end;
  }
  section .product-bg .product-main .middle .middle-right .right-bottom {
    width: 100%;
    background-color: var(--box-bg);
    border-radius: 6px;
    padding: 0.8rem;
    border: 1px solid var(--text-color-lite);
    box-shadow: var(--box-shadow);
  }
  section .product-bg .product-main .middle .middle-right .right-bottom ul li {
    display: flex;
    justify-content: space-between;
  }
  section .product-bg .product-main .middle .middle-right .right-bottom ul li h3 {
    font-size: 1.15rem;
    font-weight: var(--weight-500);
  }
  section .product-bg .product-main .middle .middle-right .right-bottom ul li span {
    display: flex;
    align-items: center;
  }
  section .product-bg .product-main .middle .middle-right .right-bottom ul li span i {
    margin-right: 0.5rem;
  }
  section .product-bg .product-main .middle .middle-right .right-bottom ul li p {
    color: var(--text-color-deep);
    font-size: 1.275rem;
  }
  section .product-bg .product-main .middle .middle-right .right-bottom ul li:nth-child(2) {
    border-bottom: 2px solid #b0b3bd;
  }
  section .product-bg .product-main .middle .middle-right .right-bottom ul li:not(:last-child) {
    padding-bottom: 0.8rem;
  }
  section .product-bg .product-main .middle .middle-right .right-bottom ul li:last-child {
    padding-top: 0.8rem;
  }
  section .product-bg .product-main .bottom {
    display: flex;
    justify-content: space-between;
    padding: 1.25rem;
  }
  @media screen and (max-width: 530px) {
    section .product-bg .product-main .bottom {
      flex-direction: column-reverse;
    }
  }
  section .product-bg .product-main .bottom .bottom-common button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background-color: var(--btn-color-blue);
    padding: 0.75rem 1rem;
    box-shadow: var(--box-shadow);
    border: 1px solid var(--btn-hover-color);
  }
  @media screen and (max-width: 830px) {
    section .product-bg .product-main .bottom .bottom-common button {
      width: 100%;
    }
  }
  section .product-bg .product-main .bottom .bottom-common button:hover {
    background-color: var(--btn-hover-color);
  }
  section .product-bg .product-main .bottom .bottom-common button:not(:first-child) {
    margin-left: 0.625rem;
  }
  @media screen and (max-width: 830px) {
    section .product-bg .product-main .bottom .bottom-common button:not(:first-child) {
      margin-left: 0;
    }
  }
  section .product-bg .product-main .bottom .bottom-common button i {
    color: var(--white-color);
    font-size: 1.275rem;
  }
  section .product-bg .product-main .bottom .bottom-common button h3 {
    margin-left: 0.625rem;
    color: var(--white-color);
    font-weight: var(--weight-400);
    font-size: 1.275rem;
  }
  @media screen and (max-width: 830px) {
    section .product-bg .product-main .bottom .bottom-left {
      display: flex;
      align-items: flex-end;
    }
  }
  @media screen and (max-width: 530px) {
    section .product-bg .product-main .bottom .bottom-left {
      margin-top: 0.75rem;
    }
  }
  section .product-bg .product-main .bottom .bottom-left button {
    background-color: var(--btn-color-ash);
    border: 1px solid var(--btn-hover-ash);
  }
  section .product-bg .product-main .bottom .bottom-left button:hover {
    background-color: var(--btn-hovor-ash);
  }
  section .product-bg .product-main .bottom .bottom-right {
    display: flex;
  }
  @media screen and (max-width: 830px) {
    section .product-bg .product-main .bottom .bottom-right {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-gap: 0.75rem;
    }
  }
  @media screen and (max-width: 530px) {
    section .product-bg .product-main .bottom .bottom-right {
      display: flex;
      flex-direction: column;
    }
  }
  section .product-bg .product-main .bottom .bottom-right button:last-child {
    background-color: var(--btn-color-golden);
    box-shadow: var(--box-shadow-2);
    border: 1px solid var(--btn-hovor-golden);
    font-size: 1.4rem;
  }
  section .product-bg .product-main .bottom .bottom-right button:last-child:hover {
    background-color: var(--btn-hovor-golden);
  }/*# sourceMappingURL=style.css.map */
